*{
  margin: 0px;
  padding: 0px;
}

body{
    text-align: center;
    background-color:rgb(230, 247, 255);
}

h1{
  font: bold 70px  mifuente, verdana, sans-serif;
}

h4{
  font:bold 20px mifuente, verdana, sans-serif;
}

label{
  font: 15px mifuente, verdana,sans-serif;
}

header, section , nav, article, footer, hgroup, figcaption, figure {
  display: block;
}

#agrupar{
  width:100%;
  text-align: left;
  margin:15px;
}

#cabecera{
  width:95%;
  height: 15%;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  background-color: rgb(46, 184, 46);
  border-radius: 10px;
}

#menu{
  width:97%;
  text-align: left;
  margin:10px auto;
  background-color: rgb(255, 26, 26);
  border-radius: 10px;
}

#menu  li{
  display: inline-block;
  list-style: none;
  padding: 5px;
  font: bold 20px mifuente , verdana,sans-serif;
}

a{
  text-decoration: none;
  color:black;
}


#seccion1{
  float:left;
  text-align: left;
  width: 500px;
  margin:20px;
  padding:5px;
  background-color: rgb(0, 51, 102);
  border-radius: 30px;
}

#seccion1 input{
  width:100%;
  padding: 6px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border:none;
}

input[type=submit]{
  background-color: rgb(255, 153, 51);
  border:none;
  color:white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor:pointer;
  border-radius: 10px;
  font: bold 15px mifuente, verdana, sans-serif;
}

form{
  border: 1px solid;
  padding: 30px;
  margin:40px;
  background-color: rgb(77, 166, 255);
  border-radius:30px;
}


#seccion2{
  float:left;
  width: 700px;
  margin:12px;
  background-color: rgb(255, 0, 0);
  border-radius: 15px;
}

footer{
  width:95%;
  clear:both;
  margin:15px;
  padding:5px;
  background-color: rgb(46, 184, 46);
  border-radius: 10px;
}


@font-face{
  font-family:'mifuente';
  src:url('Ubuntu-Light.ttf');
}
